<h1>LOGIN</h1>
  <form method="post" action='/login'>
    <label for="UsernameInput">Username: </label>
      <input type="text" name="username" placeholder="Enter Username">
        <label for="PasswordInput">Password" </label>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" value="Sign Up">
  </form>
<br>
No Account? <a href="/signup">Sign Up!</a>
