<h1>Lets Get Signed Up</h1>
<br><br>
  <form method="post" action='/signup'>
    <label for="UsernameInput">Username: </label>
      <input type="text" name="username" placeholder="Enter Username">
      <br><br>
    <label for="PasswordInput">Password: </label>
      <input type="password" name="password" placeholder="Enter Password">
      <br><br><br>
      <input type="submit" value="Sign Up"> 
  </form>
