<h1>Lets Get You Signed Up and Start That Collection</h1>
  <form method="post" action='/signup'>
    <label for="UsernameInput">Username: </label>
      <input type="text" name="username" placeholder="Enter Username"><br>
      <small><i>Please only use A-Z, a-z, 0-9, "_" or "-"</i></small><br><br><br>
    <label for="PasswordInput">Password: </label>
      <input type="password" name="password" placeholder="Enter Password"><br><br><br>
      <input type="submit" value="Sign Up"> 
  </form>
