<link rel="stylesheet" href="/public/stylesheets/main.css" />
<div class="row">
    <h1>Begin Your Record Collection</h1>
    <br>
    <h3>You Can <a href="/signup"><input type="submit" value="Sign Up"></a> - OR - <a href="/login"><input type="submit" value="Log In"></a></h3>
</div> 
