<link rel="stylesheet" href="/stylesheets/main.css" />
<div class="row">
  <!-- <div class="col-sm-4"> -->
    <h1>TURNTABLE CATALOGS</h1>
    <h2>Begin you Record Collection!!!</h2>
    <br>
    <h4>You Can <a href="/signup"><input type="submit" value="Sign Up"></a> - OR - <a href="/login"><input type="submit" value="Log In"></a></h4>
  <!-- </div> -->
</div> 
